<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto">

    <item
        android:id="@+id/item0"
        android:title="Strona główna"
        app:showAsAction="never"/>

    <item
        android:id="@+id/item1"
        android:title="Lista zamówień"
        app:showAsAction="never"/>

    <item
        android:id="@+id/item2"
        android:title="Zapisane logowania"
        app:showAsAction="never"/>

    <item
        android:id="@+id/item3"
        android:title="O autorze"
        app:showAsAction="never"/>

</menu>